[tool.poetry]
name = "summit"
version = "0.3.0"
description = "Tools for optimizing chemical processes"
authors = ["Kobi Felton <kobi.c.f@gmail.com>"]
license = ""
readme = 'README.md'
repository = "https://github.com/sustainable-processes/summit"
homepage = "https://pypi.org/project/summit"
keywords = []

[tool.poetry.dependencies]
pandas = "^0.24.1"
python = "^3.6"
GPy = "^1.9"
numpy = "1.18.0"
platypus-opt = "^1.0"
sklearn = "^0.0.0"
scikit-quant = {git = "https://github.com/sustainable-processes/scikit-quant.git"}
climin = "^0.1a1"
scipydirect = "^1.3"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
ipdb = "^0.13.2"
jupyterlab = "^2.1.1"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
