[tool.poetry]
name = "summit"
version = "0.4.0"
description = "Tools for optimizing chemical processes"
authors = ["Kobi Felton <kobi.c.f@gmail.com>"]
license = ""
readme = 'README.md'
repository = "https://github.com/sustainable-processes/summit"
homepage = "https://pypi.org/project/summit"
keywords = []

[tool.poetry.dependencies]
pandas = "0.25.3"
python = "^3.6"
GPy = "^1.9"
numpy = "1.16.0"
platypus-opt = "^1.0"
sklearn = "^0.0.0"
SQSnobFit = "^0.4.3"
gpyopt = "^1.2.6"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
ipdb = "^0.13.2"
jupyterlab = "^2.1.1"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
