[tool.poetry]
name = "summit"
version = "0.4.0"
description = "Tools for optimizing chemical processes"
authors = ["Kobi Felton <kobi.c.f@gmail.com>"]
license = ""
readme = 'README.md'
repository = "https://github.com/sustainable-processes/summit"
homepage = "https://pypi.org/project/summit"
keywords = []

[tool.poetry.dependencies]
pandas = "1.0.3"
python = "^3.6.1"
GPy = "^1.9"
numpy = "1.18.0"
platypus-opt = "^1.0"
SQSnobFit = "^0.4.3"
fastprogress = "^0.2.3"
tqdm = "^4.46.1"
ipywidgets = "^7.5.1"
gpyopt = "^1.2.6"
matplotlib = "^3.2.2"
scikit-learn = "^0.23.1"
neptune-client = {version= "^0.4.115", optional = true}
hiplot = {version= "^0.1.12", optional = true}
neptune-contrib = {extras = ["viz"], version = "^0.22.0", optional=true}
pymoo = "^0.4.1"

[tool.poetry.extras]
neptune = ["neptune-client", "hiplot", "neptune-contrib"]

[tool.poetry.dev-dependencies]
pytest = "^3.0"
ipdb = "^0.13.2"
jupyterlab = "^2.1.4"
black = "^19.10b0"
rope = "^0.17.0"
python-dotenv = "^0.13.0"


[build-system]
requires = ["poetry>=0.12"]
build-backendpoet = "poetry.masonry.api"
