blitz-bayesian-pytorch==0.2.3
git+https://github.com/sustainable-processes/chemopt.git#egg=chemopt
fastprogress==0.*,>=0.2.3
gpy==1.*,>=1.9.0
gpyopt==1.*,>=1.2.6
git+https://github.com/sustainable-processes/gryffin.git#egg=gryffin
hiplot==0.*,>=0.1.12
ipdb==0.*,>=0.13.2
ipywidgets==7.*,>=7.5.1
jupyterlab==2.*,>=2.1.4
matplotlib==3.*,>=3.2.2
neptune-client==0.*,>=0.4.115
neptune-contrib[viz]==0.*,>=0.22.0
numpy==1.18.0
pandas==1.0.3
platypus-opt==1.*,>=1.0.0
pytest==3.*,>=3.0.0
python-dotenv==0.*,>=0.13.0
rope==0.*,>=0.17.0
sqsnobfit==0.*,>=0.4.3
tensorflow==1.13.1
tensorflow-probability==0.*,>=0.10.1
torch
tqdm==4.*,>=4.46.1
